
/* Your CSS Code here. */
#gameContainer {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    position: relative;
    display: grid;
    grid-template-columns: repeat(40, 10px);
    grid-template-rows: repeat(40, 10px);
}

.snakeBodyPixel {
    width: 10px;
    height: 10px;
    background-color: #333;
    border: 1px solid #000;
}

.food {
    width: 10px;
    height: 10px;
    background-color: red;
    border: 1px solid #000;
}

.scoreBoard {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
